/*Homepage Fist Part*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

header h2 {
  color: #59ab6e;
  font-size: 35px;
}
.nav_links li {

  font: 1em sans-serif;
  color: #111;
  display: inline-block;
  padding: 0 10px;
}
.nav_links li a {
  font-size: 20px;
  color: #000000;
  transition: all 0.2s ease 0s;
}
.nav_links li a:hover {
  color: #59ab6e;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content li{
  padding-bottom: 10px;
  cursor: pointer;
}
.dropdown-content li:hover{
  color: #59ab6e;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.cart {
  cursor: pointer;
  height: 30px;
}
.Icons {
  display: flex;
  align-items: center;
}

.Icons a{
  font: 1em sans-serif;
  color: #000;
  font-size: 20px;
}
.Icons a:hover{
 color:#59ab6e;
}

.user_Icon {
  padding-left: 20px;
  height: 30px;
  padding-right: 10px;
}

.row {
  min-height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.HomeFirstPart{

  background-color:#e9eef5 ;
}
.column2 {
  flex-basis: 50%;
  min-width: 300px;
}
.column2 img {
  width: 100%;
  height: 500px;

}
.column2 p {
  text-align: center;
  color: #555;
  font-size: x-large;
}
.column2 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #555;
  text-align: center;
}
.button1 {
  display: inline-block;
  background-color: #59ab6e;
  padding: 8px 30px;
  margin: 30px;
  border-radius: 30px;
  position: relative;
  left: 220px;
}
.button1 a {
  color: white;
  text-decoration: none;
}
.cart img {
  position: relative;
  width: 70px;
  left: 500px;
}
.button1:hover {
  background: #563434;
}
.column3 {
  padding:15px;
  flex-basis: 25%;
  min-width: 300px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.column3:hover {
  transform: translateY(-10px);
}
.column3 img {
  height: 300px;
  width: 300px;
}
/*---------------Special offer part*-----------------------------------------------------------*/
/*---------------Special offer part*-----------------------------------------------------------*/

#onSales{
  background-color:#e9eef5 ;
}
.offer {
  background: radial-gradient( #9999ff, #ccccff);
}
.spbutton{
  position:relative;
  right:200px;
}

.column4 {
  flex-basis: 50%;
  min-width: 300px;
}
.column4 img {
  max-width: 70%;
  padding: 50px 0;
  height: 350px;
}
.column4 h1 {
  text-align: left;
  font-size: 50px;
  line-height: 60px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/*--------footer-----------*---------------------------------------------------------*/
/*--------footer-----------*---------------------------------------------------------*/
.footer_container{
  padding-top: 50px;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 25px;
  height:250px;
}

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding-left:10px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
 
}
.footer-col1{
  flex-basis: 25%;
  height: 150px;
}
.footer-col2{
  flex-basis: 25%;
  height: 150px;
}

.footer-col3{
  flex-basis: 25%;
  height: 150px;
}
.footer-col4 {
  flex-basis: 15%;
  height: 150px;
 
}
.footer-col4 li{
  padding-right: 150px;
}
  /*min-width: 250px;*/

/*
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex: 1;
    text-align: center;
}*/
.footer-col2 img {
  width: 180px;
  margin-bottom: 20px;
  height:90px;
  position: relative;
  left:50px;
}

.container{
  padding-top: 50px;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 25px;
  height:250px;
}
/*.footer-col3,.footer-col4{
    flex-basis: 12%;
    text-align: center;
}*/

.app-logo {
  display: flex;
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
  
}

.footer li {
  
  display: block;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin:  20px 0;
}

/*------------------------------------------------------------------------------------------*/
/*------All products Page -----------------------------------------------------------------*/


.row-container {
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
}

.column8 {
  min-width: 300px;
  padding:15px;
  flex-basis: 30%;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.column8:hover {
  transform: translateY(-10px);
}
.column8 img {
  height: 300px;
  width: 300px;
}
.column8 h4{
width: 300px;
}

h1 {
  text-align: center;
}
.title {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  line-height: 60px;
  color: #555;
  width: 500px;
}

.title::after {
  content: "";
  background: #59ab6e;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}

.column3 h4 {
  width: 300px;
}
.star {
  color: #ff523b;
}
 /*Single product details----------------------------------------------*/
.small-container1 {
  max-width: 1080px;
  padding: 20px;
  
}

.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.column5 {
  flex-basis: 40%;
  min-width: 300px;
  position: relative;
  bottom: 10px;
  left: 30px;
}
.row2 h1 {
  font-size: 35px;
  line-height: 60px;
  color: black;
  font-weight: bold;
}
.row2 p {
  color: #555;
}

.single-product {
  margin-top: 80px;
}

.btn {
  display: inline-block;
  background: #59ab6e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.column5 img {
  height: 400px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.small-img-row {
  display: flex;
  justify-content: flex-start;
}
.small-img-col {
  padding-top: 10px;
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-col img {
  height: 70px;
  border: 3px solid green;
}
.column6 {
  flex-basis: 30%;
  min-width: 300px;
  flex-direction: column;
  position: relative;
  left: 40px;
}
.type2 input {
  width: 150px;
  background: #59ab6e;
  border-radius: 30px;
}
.type2 input:hover {
  width: 150px;
  background-color: #b095d4;
}
.additionalDetails {
flex-basis:25%;
min-width: 300px;
flex-direction: column;
position: relative;
left:180px;
}

/*.additionalDetails h3 {
  text-align: center;
}*/
.additionalDetails h3 {
  text-align: left;
  position: relative;
  color: #555;
  font-weight: bolder;
  /*font-size:x-large;*/
}
.additionalDetails li {
 text-align: left;
}

/*------- Account page-------*/
.account-page {
  display: flex;
  height: 1000px;
  align-items: center;
}
.form-container {
  box-shadow: 2px 2px 18px #257e1a;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px;
  margin: auto;
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10 px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130 px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegistrationForm {
  left: 0;
}
form a {
  font-size: 12px;
}

#Indicator {
  width: 80px;
  border: none;
  background: #59ab6e;
  height: 3px;
  margin-top: 8 px;
  transform: translateX(120px);
  transition: transform 1s;
}

.input {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 30px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
/*******************************cart****************************/

.cartPage {
  display: flex;
  width: 95%;
  margin: auto;
}
.cartTotal {
  padding-top: 10%;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  width: 400px;
}
.cartTotal table {
  width: 90%;
  margin: auto;
  margin-top: 0;
}

.Cart th,
td {
  padding-top: 15px;
  width: 200px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.cartImage {
  width: 200px;
}

.Cart table {
  width: 90%;
  margin: auto;
  margin-top: 0;
}

.cartTitle {
  text-align: center;
}

.chechoutbtn {
  color: rgb(255, 255, 255);
  padding-top: 15px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  height: 50px;
  background-color: #59ab6e;
  border-radius: 10px;
}
.chechoutbtn a{
  text-decoration: none;
  color: rgb(250, 250, 250);
}
.cartTotalTitle {
  text-align: center;
}

/*-------------------About us page-------------------------------*/
.AboutUs {
  margin: 50px;
}

.About-container {
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.desc {
 
  text-align: justify;

}
.desc h3 {
  font: 1em sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-align: justify;
}
.about-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-left: 90px;
}
.about-logo img {
  width: 140px;
  height: 100px;
  margin-left: 17px;
}

/*--------------------------------------

/************************contact us*****************/
.contactPage {
  width: 90%;
  margin-bottom: 70px;
}
.envelopIcon {
  filter: invert(66%) sepia(29%)
   saturate(641%) hue-rotate(83deg)
    brightness(85%) contrast(87%);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  width: 400px;
}
.enveloppe {
  width: 500px;
}
.contactUsTitle {
  font: 1em sans-serif;
  padding-top: 75px;
  background-color: #e9eef5;
  height: 200px;
  color: rgb(0, 0, 0);
}
.contactUs {
  padding-top: 50px;
  flex: 1;
  width: 400px;
}
.contactCenter {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
}
.message {
  width: 100%;
  height: 100px;
}

/*************************************Checkout*********************/
.checkoutForm {
  padding: 20PX;
  margin-left: 10%;
  width:70%;
  background-color: rgb(255, 255, 255);
}
.checkoutPage {
  padding-top: 50px;
  display: flex;
  background-color: #e9eef5;
  padding-bottom: 50px;;
}
.cardDetails{
  margin-right: 10%;
  width: 80%;
  padding-left:30px;
  padding-right:30px;
  padding-top :100px;
  background-color: rgba(255, 255, 255, 0.808);
  margin-left: 10%;
}

.orderSummary{
  padding-left: 17%;
}

#orderBtn {
  font-size:20px;
  height: 40px;
  padding-left: 10%;
  margin-left: 25%;
  padding-right:10%;
}