/*Homepage Fist Part*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: radial-gradient(#fff, #ffd6d6);
}

li,
a,
button {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

header h2 {
  color: #59ab6e;
}
.nav_links li {
  font: 1em sans-serif;
  color: #111;
  display: inline-block;
  padding: 0 10px;
}
.nav_links li a {
  color: #000000;
  transition: all 0.2s ease 0s;
}
.nav_links li a:hover {
  color: #59ab6e;
}

.cart {
  cursor: pointer;
  height: 30px;
}
.Icons{
 display:flex;
align-items: center;
}
.user_Icon{
  padding-left :20px;
  height : 30px;
  padding-right: 10px;
}

.row {
  min-height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.column2 {
  flex-basis: 50%;
  min-width: 300px;
}
.column2 img {
  width: 100%;
  height: 500px;
  border-radius: 30px;
}
.column2 p {
  text-align: center;
  color: #555;
  font-size: x-large;
}
.column2 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #555;
  text-align: center;
}
.button1 {
  display: inline-block;
  background-color: #59ab6e;
  padding: 8px 30px;
  margin: 30px;
  border-radius: 30px;
  position: relative;
  left: 200px;
}
.button1 a {
  color: white;
  text-decoration: none;
}
.cart img {
  position: relative;
  width: 70px;
  left: 500px;
}
.button1:hover {
  background: #563434;
}
/*---------------Special offer part*-----------------------------------------------------------*/
/*---------------Special offer part*-----------------------------------------------------------*/
.offer {
  background: radial-gradient(#c299ff, #c299ff);
  margin-top: 60px;
}
.column4 {
  flex-basis: 50%;
  min-width: 300px;
}
.column4 img {
  max-width: 70%;
  padding: 50px 0;
  height: 300px;
}
.column4 h1 {
  text-align: left;
  font-size: 50px;
  line-height: 60px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/*--------footer-----------*---------------------------------------------------------*/
/*--------footer-----------*---------------------------------------------------------*/
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
  flex-basis: 25%;
  height: 150px;
  /*min-width: 250px;*/
  margin-bottom: 20px;
  text-align: center;
}
/*
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex: 1;
    text-align: center;
}*/
.footer-col2 img {
  width: 180px;
  margin-bottom: 20px;
}
/*.footer-col3,.footer-col4{
    flex-basis: 12%;
    text-align: center;
}*/

.app-logo {
  display: flex;
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
  margin-left: 17px;
}

.footer li {
  padding-right: 30px;
  display: block;
}

/*------------------------------------------------------------------------------------------*/
/*------All products Page -----------------------------------------------------------------*/
.products {
  margin: 70px 0;
}

.row-container {
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
}
.column3 {
  flex-basis: 20%;
  min-width: 250px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.column3:hover {
  transform: translateY(-8px);
}
.column3 img {
  width: 100%;
  height: 270px;
}

h1 {
  text-align: center;
}
.title {
  text-align: center;
  font-size: 30px;
  margin: 0px auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #59ab6e;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}

column3 p {
  font-size: 15px;
}
.star {
  color: #ff523b;
  /*Single product details----------------------------------------------*/
}

.small-container1 {
  max-width: 1080px;
  padding: 20px;
}
.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column5 {
  flex-basis: 50%;
  min-width: 300px;
  position: relative;
  bottom: 10px;
  left:30px
}
.row2 h1 {
  font-size: 35px;
  line-height: 60px;
  color: black;
  font-weight: bold;
}
.row2 p {
  color: #555;
}

.single-product {
  margin-top: 80px;
}

.btn {
  display: inline-block;
  background: #59ab6e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.column5 img {
  height: 500px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.small-img-row {
  display: flex;
  justify-content: flex-start;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-col img {
  height: 70px;
}
.column6 {
  flex-basis: 50%;
  min-width: 300px;
  flex-direction: column;
  position: relative;
  left: 60px;
}
.type2 input {
  width:150px;
  background:#59ab6e;
  border-radius: 30px;
}
.type2 input:hover {
  width:150px;
  background-color: #b095d4;
  
}
.additionalDetails h3{

  text-align:center;

}
h3 {
text-align: center;
position:relative;
left:100px;
color: #555;
font-weight:bolder;
/*font-size:x-large;*/
}

/*------- Account page-------*/
.account-page {
  display: flex;
  height: 1000px;
  align-items: center;
}
.form-container {
  
  box-shadow: 2px 2px 18px #257e1a;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px;
  margin: auto;
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10 px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130 px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}

#RegistrationForm {
  left: 0;
}

form a {
  font-size: 12px;
}

#Indicator {
  width: 80px;
  border: none;
  background: #59ab6e;
  height: 3px;
  margin-top: 8 px;
  transform: translateX(120px);
  transition: transform 1s;
}

.input {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 30px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/***************cart*********/
.Cart th,td{
  padding-top:30px;
  width: 200px;
  text-align: center;
}
.cartImage {
  width: 200px;
}

/************************contact us*****************/
.contactPage{

  width: 90%;
}
.envelopIcon{
  filter: invert(66%) sepia(29%) saturate(641%) hue-rotate(83deg) brightness(85%) contrast(87%);
  padding-left:10%;
  padding-right:10%;
  padding-top: 10px;
  width: 400px;
}
.contactUsTitle{
  font: 1em sans-serif;
  padding-top: 75px;
  background-color: #e9eef5;
  height: 200px;
  color: rgb(0, 0, 0);
}

.contactUs{
  padding-top: 50px;
  flex: 1;
  width: 400px;
}

.contactCenter{
  margin:auto;
  display:flex;
}